html{
    font-size: 16px;
}

body{
    line-height: 1.5rem;
    color: #484848;
}

a{
    text-decoration: none;
}

.mobile{
    display: none;
}

h1, h2, h3, h4{
    font-weight: bold;
}

h1{
    font-size: 2.75rem;
   
}

h2{
    font-size: 2rem;
}

/*---Header---*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
}

.header .logo{
    display: flex;
    height: 2rem;
}

.header a{
    color: #484848;
    padding-left: 1rem;
}

.logo .academy{
    color: #d8d8d8;
}

/* ---Header mobile ---*/

@media only screen and (min-width:320px) and (max-width:480px){

.hide-mobile {
    display: none;
}

.mobile{
    display: inline;
}

.logo{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

}


/*---Banner ---*/

.banner{
 display: flex;
 background-color: #d8d8d8;
}

.banner-img{
    width: 60%;
    margin: 2rem 1.5rem;
}

.banner-img img{
    width: 100%;
}

.banner-txt{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-txt h1{
    padding-bottom: 1rem;
}

.banner-txt h2{
    padding-bottom: 2rem;
}

.banner-txt .btn{
    color: #d8d8d8;
    background-color: #484848;
    text-align: center;
    width: 70%;
    padding: 0.5rem 0;
    margin-top: 2rem;
}

/* Banner mobile */

@media only screen and (min-width:320px) and (max-width:480px){

.banner{
    flex-direction: column;
}


.banner-img img{
    padding: 0;
    width: 100%;
}

.banner-txt .btn{
    background-color: #b8b8b8;
    color: #ffffff;
    padding: 1.5rem 1rem 2rem 0;
}

.banner-txt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-left:1rem;
}

.banner h2{
    padding-bottom: 2rem;
}

.banner h1{
    padding-top: 2rem;
}

}
