html{
    font-size: 16px;
}

body{
    line-height: 1.5rem;
    color: #484848;
}

a{
    text-decoration: none;
}

.mobile{
    display: none;
}

h1, h2, h3, h4{
    font-weight: bold;
}

h1{
    font-size: 2.75rem;
    line-height: 1rem;
}

h2{
    font-size: 1.75rem;
}

/*---Header---*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
}

.header .logo{
    display: flex;
    height: 2rem;
}

.header a{
    color: #484848;
    padding-left: 1rem;
}

.logo .academy{
    color: #d8d8d8;
}

/* ---Header mobile ---*/

@media only screen and (min-width:320px) and (max-width:480px){

.hide-mobile {
    display: none;
}

.header{
    display: inline-flex;
    justify-content: space-between;
}

}